<h1>Mostrando Articulos de Noticias</h1>

<p><strong>Titulo: </strong><%= @newShow.title %></p>
<p><strong>Subtitulo:</strong><%= @newShow.subtitle %></p>
<p><strong>Autor: </strong><%= @newShow.author %></p>
<p><strong>Descripción: </strong><%= @newShow.description %></p>
<p><strong>Link: </strong><%= @newShow.link %></p>