<!DOCTYPE html>
<html class= "h-100">
  <head>
    <title>NoticiasApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="d-flex flex-column h-100">
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <%= yield %>
    <footer class="footer mt-auto py-3 bg-dark">
      <div class="container text-center">
        <span class="text-light">Copyright © Yamir Pinto 2023</span>
      </div>
    </footer>
  </body>

</html>